<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <br>
    
    <div class="container mt-5 mb-4">
        <h1 class="mt-4 mb-3">Cadastrar Instituição</h1>
        <!-- Alerta para validação -->
        <div id="alert" class="alert alert-danger d-none" role="alert"></div>

        <form action="/admin/institution/create" method="POST" novalidate>
            <input type="hidden" name="_method" value="PUT">
x
            <% const fields = [
                { label: 'Nome da Instituição*', name: 'name', type: 'text', required: true },
                { label: 'CNPJ*', name: 'cnpj', type: 'text', required: true, pattern: '\\d{17}', oninput: "formatCNPJ(this)"},
                { label: 'Email*', name: 'email', type: 'email', required: true, pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$'},
                { label: 'Telefone Principal*', name: 'main_phone', type: 'text', oninput: "formatPhone(this)"},
                { label: 'Telefone Secundário', name: 'secondary_phone', type: 'text', oninput: "formatPhone(this)"},
                { label: 'Site', name: 'website', type: 'text'},
                { label: 'Categoria*', name: 'institution_category', type: 'text', required: true },
                { label: 'Instagram', name: 'instagram', type: 'text', required: true, oninput: "formatInstagramUsername(this)" },
                { label: 'Idioma Principal*', name: 'main_language', type: 'text', required: true },
                { label: 'Idioma Secundário*', name: 'second_language', type: 'text', required: true},
                { label: 'Link do Maps:', name: 'link_maps', type: 'text', required: true}
            ]; %>

            <% fields.forEach(field => { %>
                <div class="form-group">
                    <label for="<%= field.name %>"><%= field.label %></label>
                    <% if (field.name === 'institution_category') { %>
                        <select class="form-control" id="<%= field.name %>" name="<%= field.name %>" required>
                            <option value="" disabled selected>Selecione uma categoria</option>
                            <% categories.forEach(category => { %>
                                <% if (category.category_pt !== "Todas Categorias") { %>
                                    <option value="<%= category.id %>"><%= category.category_pt %></option> <!-- Adicione o id como value -->
                                <% } %>
                            <% }); %>
                        </select>
                    <% } else { %>
                        <input type="<%= field.type %>" class="form-control" id="<%= field.name %>" name="<%= field.name %>" 
                               value="<%= field.value || '' %>" <%= field.required ? 'required' : '' %> 
                               <%= field.pattern ? 'pattern="' + field.pattern + '"' : '' %> 
                               <%= field.maxlength ? 'maxlength="' + field.maxlength + '"' : '' %> 
                            <% if (field.oninput) { %> oninput="<%= field.oninput %>" <% } %> 
                                placeholder="<%= field.label %> ">

                    <% } %>
                </div>
            <% }); %>

                    <!-- Descrição da Instituição -->
            <h3 class="mt-4">Descrições da Instituição</h3>
            <div class="form-group">
                <label for="description_pt">Descrição (Português)*</label>
                <textarea class="form-control" id="description_pt" name="description_pt" rows="3" placeholder="Descrição da instituição em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_en">Descrição (Inglês)*</label>
                <textarea class="form-control" id="description_en" name="description_en" rows="3" placeholder="Institution description in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_fr">Descrição (Francês)*</label>
                <textarea class="form-control" id="description_fr" name="description_fr" rows="3" placeholder="Description de l'institution en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_es">Descrição (Espanhol)*</label>
                <textarea class="form-control" id="description_es" name="description_es" rows="3" placeholder="Descripción de la institución en español..."></textarea>
            </div>

            <!-- Horário de Atendimento -->
            <h3 class="mt-4">Dias e Horários de Funcionamento</h3>
            <div class="form-group">
                <label for="service_hours_pt">Dias e Horários de Funcionamento (Português)*</label>
                <textarea class="form-control" id="service_hours_pt" name="service_hours_pt" rows="3" placeholder="Dias e Horários em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_en">Dias e Horários de Funcionamento (Inglês)*</label>
                <textarea class="form-control" id="service_hours_en" name="service_hours_en" rows="3" placeholder="Service hours in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_fr">Dias e Horários de Funcionamento (Francês)*</label>
                <textarea class="form-control" id="service_hours_fr" name="service_hours_fr" rows="3" placeholder="Horaires d'ouverture en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_es">Dias e Horários de Funcionamento (Espanhol)*</label>
                <textarea class="form-control" id="service_hours_es" name="service_hours_es" rows="3" placeholder="Horario de atención en español..."></textarea>
            </div>

            <!-- População Alvo -->
            <h3 class="mt-4">População Alvo</h3>
            <div class="form-group">
                <label for="target_populations_pt">População Alvo (Português)*</label>
                <textarea class="form-control" id="target_populations_pt" name="target_populations_pt" rows="3" placeholder="População alvo em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_en">População Alvo (Inglês)*</label>
                <textarea class="form-control" id="target_populations_en" name="target_populations_en" rows="3" placeholder="Target population in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_fr">População Alvo (Francês)*</label>
                <textarea class="form-control" id="target_populations_fr" name="target_populations_fr" rows="3" placeholder="Population cible en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_es">População Alvo (Espanhol)*</label>
                <textarea class="form-control" id="target_populations_es" name="target_populations_es" rows="3" placeholder="Población objetivo en español..."></textarea>
            </div>

            <!-- Requisitos e Restrições -->
            <h3 class="mt-4">Requisitos e Restrições</h3>
            <div class="form-group">
                <label for="requirements_restrictions_pt">Requisitos e Restrições (Português)*</label>
                <textarea class="form-control" id="requirements_restrictions_pt" name="requirements_restrictions_pt" rows="3" placeholder="Requisitos e restrições em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_en">Requisitos e Restrições (Inglês)*</label>
                <textarea class="form-control" id="requirements_restrictions_en" name="requirements_restrictions_en" rows="3" placeholder="Requirements and restrictions in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_fr">Requisitos e Restrições (Francês)*</label>
                <textarea class="form-control" id="requirements_restrictions_fr" name="requirements_restrictions_fr" rows="3" placeholder="Exigences et restrictions en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_es">Requisitos e Restrições (Espanhol)*</label>
                <textarea class="form-control" id="requirements_restrictions_es" name="requirements_restrictions_es" rows="3" placeholder="Requisitos y restricciones en español..."></textarea>
            </div>

            <!-- Serviços Oferecidos -->
            <h3 class="mt-4">Serviços Oferecidos</h3>
            <div class="form-group">
                <label for="services_offered_pt">Serviços Oferecidos (Português)*</label>
                <textarea class="form-control" id="services_offered_pt" name="services_offered_pt" rows="3" placeholder="Serviços oferecidos em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_en">Serviços Oferecidos (Inglês)*</label>
                <textarea class="form-control" id="services_offered_en" name="services_offered_en" rows="3" placeholder="Services offered in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_fr">Serviços Oferecidos (Francês)*</label>
                <textarea class="form-control" id="services_offered_fr" name="services_offered_fr" rows="3" placeholder="Services offerts en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_es">Serviços Oferecidos (Espanhol)*</label>
                <textarea class="form-control" id="services_offered_es" name="services_offered_es" rows="3" placeholder="Servicios ofrecidos en español..."></textarea>
            </div>

            <!-- Custos dos Serviços -->
            <h3 class="mt-4">Custos dos Serviços</h3>
            <div class="form-group">
                <label for="service_costs_pt">Custos dos Serviços (Português)*</label>
                <textarea class="form-control" id="service_costs_pt" name="service_costs_pt" rows="3" placeholder="Custos dos serviços em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_en">Custos dos Serviços (Inglês)*</label>
                <textarea class="form-control" id="service_costs_en" name="service_costs_en" rows="3" placeholder="Service costs in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_fr">Custos dos Serviços (Francês)*</label>
                <textarea class="form-control" id="service_costs_fr" name="service_costs_fr" rows="3" placeholder="Coûts des services en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_es">Custos dos Serviços (Espanhol)*</label>
                <textarea class="form-control" id="service_costs_es" name="service_costs_es" rows="3" placeholder="Costos de los servicios en español..."></textarea>
            </div>

            <!-- Seção de Endereço -->
            <h3 class="mt-4">Endereço</h3>
            <div class="form-group">
                <label for="cep">CEP*</label>
                <input type="text" class="form-control" id="cep" name="cep" oninput="formatCEP(this)" placeholder="Digite o CEP">
                <button type="button" id="btnBuscarEndereco" class="btn btn-primary mt-2">Buscar Endereço</button>
            </div>

            <div class="form-group">
                <label for="street">Logradouro*</label>
                <input type="text" class="form-control" id="street" name="street" placeholder="Digite o Logradouro">
            </div>
            <div class="form-group">
                <label for="neighborhood">Bairro*</label>
                <input type="text" class="form-control" id="neighborhood" name="neighborhood" placeholder="Digite o Bairro">
            </div>
            <div class="form-group">
                <label for="city">Cidade*</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Digite a Cidade">
            </div>
            <div class="form-group">
                <label for="state">Estado*</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="Digite o Estado">
            </div>
            <div class="form-group">
                <label for="numero">Número do Endereço*</label>
                <input type="text" class="form-control" id="numero" name="numero" required placeholder="Digite o Número">
            </div>
            <div class="form-group">
                <label for="complemento">Complemento (opcional)</label>
                <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Digite o Complemento">
            </div>

            <div class="alert alert-warning" role="alert">
                Caso a busca pelo endereço não retorne resultados, preencha os campos acima manualmente.
            </div>

            <!-- Seção de Responsável -->
            <h3 class="mt-4">Responsável Pelo Cadastro</h3>
            <div class="form-group">
                <label for="responsible_name">Nome do Responsável*</label>
                <input type="text" class="form-control" id="responsible_name" name="responsible_name" required placeholder="Digite o nome do responsável">
            </div>

            <div class="form-group">
                <label for="responsible_position">Posição*</label>
                <input type="text" class="form-control" id="responsible_position" name="responsible_position" placeholder="Digite a posição do responsável">
            </div>

            <div class="form-group">
                <label for="responsible_sector">Setor*</label>
                <input type="text" class="form-control" id="responsible_sector" name="responsible_sector" placeholder="Digite o setor do responsável">
            </div>

            <div class="form-group">
                <label for="responsible_role">Função*</label>
                <input type="text" class="form-control" id="responsible_role" name="responsible_role" placeholder="Digite a função do responsável">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms" name="authorized" required>
                <label class="form-check-label" for="terms"> A instituição aceita os <a href="">Termos e Condições</a></label>
            </div>
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
            <a href="/admin/institutions" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
<script src="/js/scriptInstitutionCreate.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<%- include("../partials/footer.ejs") %>
